<%= tag.h1 "About ReaderLeader" %>
このウェブサイトは
<a href="https://zenn.dev/hal_mat">
  Hal_Mat
</a>
のポートフォリオサイトです。
<%= tag.h2 "何のためのサイト？" %>
積ん読を整理するためのサイトです。キンドルの未読が溜まりすぎて「次何読むんだっけ？」となりがちなあなたに。
<%= tag.h2 "どんな感じか試したいけど、アカウント登録は面倒" %>
ゲストユーザーとしてログインしてください。
<%= tag.h2 "アカウントってメールアドレス必須？　流出とか怖いんだけど" %>
メールアドレスは任意です。ただしメールアドレス未登録の方はパスワードリセット機能が使えません。
<%= tag.h2 "コード公開してる？" %>
githubでなくて申し訳ありませんが
<a href="https://bitbucket.org/h_matsumura/reader_leader/src/master/">
  bitbucket
</a>
で公開しています。
<%= tag.h2 "課金要素ない？" %>
ありません。
<%= tag.h2 "他のユーザーに読書歴を公開する機能ある？" %>
開発中です。
<br>
<%= link_to "戻る", :back %>