<h1>User#reset_password_email</h1>

<p>
<%= @user.user_name %>様
</p>

<p>
Reader Leaderのパスワードをリセットします。一時間以内にこちらのリンクをクリックしてください。
</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_password_token,
                                                      email: @user.email) %>