<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
  　<%= form.label :password %>
  　<%= form.password_field :password %>
  </div>
  
  <div class="field">
  　<%= form.label :password_confirmation %>
  　<%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
  　<%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <div class="actions my-button">
    <%= form.submit "ユーザー情報を保存する", class: "btn btn-block" %>
  </div>
<% end %>
