<tr id="book-<%= book.id %>">
  <%= tag.td link_to  book.title, edit_book_path(book) %>
  <%= tag.td jpn_priority(book.priority) %>
  <%= tag.td book.when_start %>
  <%= tag.td book.when_stop %>
<!--開始ボタンと再開ボタンは共通。内部でif分岐-->
  <td>
    <% if book.still_not_read? %>
      <% when_start = book.when_start || Date.today %>
      <%= button_to '開始', book_path(book), {method: :patch, params: {book:{when_start: when_start, when_stop: nil} } } %>
    <% elsif book.reading? %>
      <%= button_to '読了',book_path(book), method: :delete %>
    <% elsif book.had_read? %>
      <%= button_to '完全削除', really_destroy_book_path(book), method: :get, data: { confirm: '削除した本は復旧できません。よろしいですか?' } %>
    <% end %>
  </td>

  <!--<td>%= link_to '削除', book, method: :delete, data: { confirm: '削除した本は復旧できません。よろしいですか?' } %></td>-->
</tr>
