<%= form_with(model:[@user, @book]) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
  　<%= form.label :priority %>
  　<%= form.select :priority, list_priorities, prompt: "優先度を選択してください"  %>
  </div>

  <div class="actions my-button">
    <%= form.submit "書籍情報を保存する", class: "btn btn-block" %>
  </div>
<% end %>