<h1>書籍の情報を編集する</h1>

<!--別の人の本を指定したときの警告がない。いつか追加する-->

<%= render 'form', book: @book %>

<!--読書開始ボタン。入力済だったら上書きしない。中断日フィールドを消す-->
<% when_start = @book.when_start || Date.today %>
<%= button_to '開始', book_path(@book), {method: :patch, params: {book:{when_start: when_start, when_stop: nil} }, disabled: !@book.still_not_read? } %>
<!--読了ボタン-->
<%= button_to '読了',book_path(@book), {method: :delete, disabled: !@book.reading? } %>
<!--中断ボタン。中断日は問答無用で今日でいい-->
<%= button_to '中断',book_path(@book), {method: :patch, params: {book:{when_stop: Date.today} }, disabled: !@book.reading? } %>
<!--削除ボタン-->
<%= button_to '完全削除', really_destroy_book_path(@book), method: :get, data: { confirm: '削除した本は復旧できません。よろしいですか?' } %>
<!--復旧ボタン-->
<%= button_to '復旧', restore_book_path(@book), {method: :patch,disabled: !@book.had_read? } %>

<%= link_to 'キャンセル', :back %>
