<h1>
  <%= "こんにちは、#{@user.user_name}さん" %>
</h1>

<p>
  <% if @user.email.nil? then %>
    メールアドレスが未登録です。
  <% else %>
    <strong>メールアドレス:</strong>
    <%= @user.email %>
  <% end %>
</p>

<!--管理者のときだけ管理者画面リンクを出す-->
<% if @user.admin? %>
  <%= link_to "管理者画面", admin_root_path %> |
<% end %>

<% if @books&.only_deleted&.any? %>
  <%= link_to "読了済みリストを見る", user_finished_books_path(@user) %> |
<% end %>


<!--crypted passwordとsaltは削除-->
<%= link_to 'ユーザー情報を編集する', edit_user_path(@user) %> |
<%= link_to '新しく本を登録する', new_user_book_path(user_id: @user.id) %> |
<%= link_to "ログアウトする", logout_path, method: :post %>

<%= search_form_for @q, url: user_books_path(@user) do |f| %>
  <%= f.label :title_cont, "本を検索する" %>
  <%= f.search_field :title_cont %> |
  <%= f.submit "検索実行",class: 'btn-white' %>
<% end %>

 <div class="col-md-8">
    <%= tag.h3 "登録された本は#{@books.count}冊です。" %>
    <% if @books&.any?(&:reading?) %>
      <%= tag.h4 "読書中リスト" %>
      <table class="reading_book">
        <thead>
          <%= render partial: "books/table_header" %>
        </thead>
        <tbody>
          <%= render @books.filter(&:reading?) %>
        </tbody>
      </table>
    <% else %>
      現在読書中の本はありません。
    <% end %>

    <% if @books&.any?(&:still_not_read?) %>
      <%= tag.h4 "未読リスト" %>
      <table class="will_read_books zebra">
        <thead>
          <%= render partial: "books/table_header" %>
        </thead>
        <tbody>
          <%= render @books.filter(&:still_not_read?) %>
        </tbody>
      </table>

    <% else %>
      <%= link_to 'ここをクリックして、本を登録しましょう！', new_user_book_path(user_id: @user.id) %>
    <% end %>
</div>