@charset "utf-8";

@import "administrate/reset/normalize";

@import "administrate/library/clearfix";
@import "administrate/library/data-label";
@import "administrate/library/variables";

@import "administrate/base/forms";
@import "administrate/base/layout";
@import "administrate/base/lists";
@import "administrate/base/tables";
@import "administrate/base/typography";

@import "administrate/components/app-container";
@import "administrate/components/attributes";
@import "administrate/components/buttons";
@import "administrate/components/cells";
@import "administrate/components/field-unit";
@import "administrate/components/flashes";
@import "administrate/components/form-actions";
@import "administrate/components/main-content";
@import "administrate/components/navigation";
@import "administrate/components/pagination";
@import "administrate/components/search";

@import "administrate/utilities/text-color";

// ここ本当はコメントアウトしたら駄目な所。todo:いつか戻す
// https://blog.123abcsoft.com/2020/02/25/rails6-入門/#org80d3715
// @import "trix/dist/trix";

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

.field-unit--rich-text-area-field {
  .field-unit__field {
    width: 80%;
  }
}

@import "flatpickr/dist/flatpickr.min";