@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
// @import "*";

// https://b.0218.jp/20150207190150.html
$border-radius: 0.125rem !default;
$border-radius-lg: 0.15rem !default;
$border-radius-sm: 0.1rem !default;

//侍ブログのwebpackerフロントエンド記事参照。5.1だからかコードが間違ってる

body{
  background: #000;
  background-image: url("../images/jan-mellstrom-tofagMI_UCM-unsplash.jpg");
  background-size: cover;
  width: 100%;
  heigth: 100vh;
}

.white-back {
  background-color: rgba(255,255,255,0.9);
  margin: 2em;
  border-radius: 1em;
  padding:1em;
}

.f-row-container{
	display: flex;
	justify-content: space-around;
}

.f-column-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

// table {
//   border-top: 1px solid #9e9e9f;
//   width: 100%;
//   border-collapse: collapse;
//   // font-size:14px;
// }

// ここからテーブル
thead th {
  color: #FFF;
  background: #000;
  // border-bottom: 3px double green; /* ヘッダ行の下線 */
}

table tr {
  border-bottom: 1px solid #9e9e9f;
}

// １行おきに背景を変える
// https://shanabrian.com/web/jquery/table01.php
// https://allabout.co.jp/gm/gc/383707/4/
table tr:nth-child(even) {
   /* 表の偶数行のみを対象に装飾するCSS */
   background-color: #c0c0c0;
}

.kalam-font {
  font-family: 'Kalam', cursive;
}

a.navbar-brand{
font-size: 2em;
}

// 以下ボタン
// https://qiita.com/Cheekyfunkymonkey/items/09a28c947a59bb9a9026
// https://deshinon.com/2019/03/02/simple-button-css/
// https://creive.me/archives/15410/
.reset {
  color: black;
  text-decoration: none;
  // font-family: sans-serif; /* 書体もリセットしています。不要であれば削除を */
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* iOSタップ時の挙動を調整 */
  -webkit-appearance: none;
  border-style: none;
}

.my-button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  font-size:1.6rem;
  padding:0;
  width: 32rem;
  text-align: center;
  cursor:pointer;
  // transition:800ms ease all;
  outline:none;
  border-style: none;
  input {
    -webkit-appearance: none;
    background:#1AAB8A;
    color:#fff;
    border:0;
    font-size:1.6rem;
    padding:0;
    width: 32rem;
    text-align: center;
    cursor:pointer;
    // transition:800ms ease all;
    border-style: none;
    // display: block;
    display: inline-block;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
     &:hover {
      background:#fff;
      color:#1AAB8A;
    }
  }
  &:hover {
    background:#fff;
    color:#1AAB8A;
  }
  &:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0%;
    background: #1AAB8A;
    transition:200ms ease all;
  }
  &:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  &:hover:after{
    width:100%;
    transition:500ms ease all;
  }
}
