<%= tag.h1 "#{@user.user_name}さんの読了済みリスト" %>

<% if @user.books.only_deleted.any? %>
  <table class="had_read_books zebra">
    <thead>
      <%= render partial: "books/table_header" %>
    </thead>
    <tbody>
      <%= render @user.books.only_deleted %>
    </tbody>
  </table>
<% else %>
  <%= tag.p "読了済みの本はありません。" %>
<% end %>

<%= link_to 'Back', user_path(@user) %>
