// rails6では使わない

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

.kalam {
  background: #000;
  font-family: 'Kalam', cursive;
}

.main-background {
  background: #000;
  background-image: url("<%=asset_path('jan-mellstrom-tofagMI_UCM-unsplash.jpg') %>");
  background-size: cover;
  width: 100%;
  heigth: 100vh;
}

.white-back {
  background-color: rgba(255,255,255,0.9);
}

// コピペ元ではスポケットでbootstrapをmixinしている。
// https://railstutorial.jp/chapters/sign_up?version=5.1#cha-sign_up
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// １行おきに背景を変える
// https://shanabrian.com/web/jquery/table01.php
// https://allabout.co.jp/gm/gc/383707/4/
table:zebra tr:nth-child(even) {
   /* 表の偶数行のみを対象に装飾するCSS */
   background-color: #c0c0c0;
}
