
<!--require "action_view"-->
<!--include ActionView::Helpers::TagHelper-->
<!--singleton_class.class_eval { attr_accessor :output_buffer }-->


<%= tag.h1 "ログイン" %>
<div class="f-row-container">
    <div class="f-column-container">
        <%= tag.h2 "アカウントをお持ちのユーザーはこちら" %>
        <%= render 'form' %>
        <%= tag.h3 "パスワードを忘れた人は" %>
        <%= render 'forgot_password_form' %>
        <%= link_to "letter_opener", letter_opener_web_path if Rails.env.development? %>
    </div>
    <div class="f-column-container">
        <%= tag.h2 "新規のユーザーはこちら" %>
        <!--Launch demo modal-->
        <div class="my-button">
            <%= button_to "アカウント作成", new_user_path,{method: :get, class: "btn btn-block" } %>
        </div>
        <div class="my-button">
            <%= button_to "FAQページ", static_pages_about_path,{method: :get, class: "btn btn-block" } %>
        </div>
        <div class="my-button">
        <%= button_to "ゲストユーザーとしてログイン",
                        user_sessions_path,
                        {method: :post, params: { user_name: 'Example User', password: 'foobar' }, class: "btn btn-block" } %>
        </div>
    </div>
</div>
