<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ReaderLeader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark  px-4 py-0">
      <a href="#" class="navbar-brand kalam-font">
        ReaderLeader
      </a>
      <%= link_to "このサイトについて", static_pages_about_path %>
    </nav>

    <div class="white-back">
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </body>
  </div>

</html>
